<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Data Labs</title>
  <link rel="icon" href="/Images/Icon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/CSS/Users.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
</head>

<body>
  <!-- Sidebar component -->
  <input type="checkbox" id="sidebar-toggle">
  <div class="sidebar">
    <!-- SidebarHeader component -->
    <div class="sidebar-header">
      <!-- Brand component -->
      <h3 class="brand">
        <span class="ti-unlink"></span>
        <span>Data Labs</span>
      </h3>
      <!-- SidebarToggle component -->
      <label for="sidebar-toggle" class="ti-menu-alt"></label>
    </div>

    <!-- SidebarMenu component -->
    <div class="sidebar-menu">
      <ul>
        <!-- SidebarMenuItem component -->
        <li>
          <a href="/dashboard/page/1" class="dashboard-link">
            <span class="ti-home"></span>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/stockdetails/page/1" class="Mainstock-link">
            <span class="ti-files"></span>
            <span>Stock Details</span>
          </a>
        </li>
        <li>
          <a href="/borrowers/page/1" class="Borrowers-link">
            <span class="ti-agenda"></span>
            <span>Borrowers</span>
          </a>
        </li>
        <li>
          <a href="/items/page/1" class="Items-link">
            <span class="ti-clipboard"></span>
            <span>Items</span>
          </a>
        </li>
        <li>
          <a href="" class="Assigning-link">
            <span class="ti-folder"></span>
            <span>Inventory</span>
          </a>
        </li>
        <li>
          <a href="/overview" class="Timesheet-link">
            <span class="ti-pie-chart"></span>
            <span>Overview</span>
          </a>
        </li>
        <% if (isAdmin) { %>
        <li>
          <a href="/users" class="Contacts-link">
            <span class="ti-book"></span>
            <span>Users</span>
          </a>
        </li>
        <% } %>
        <% if (isAdmin || isLabManager) { %>
        <li>
          <a href="/auditlog" class="Accounts-link">
            <span class="ti-settings"></span>
            <span>Audit Log</span>
          </a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>

  <div class="main-content">
    <header>
      <h2 class="dashboard-header">Users</h2>
      <div class="social-icons">
        <span class="ti-bell"></span>
        <span class="ti-user" id="user-icon"></span>
        <div class="dropdown" id="dropdown-menu">
          <ul>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Log out</a></li>
          </ul>
        </div>
      </div>
    </header>

    <main>
      <div>
        <h1 class="dash-header">Users</h1>
        <div class="dash-cards">
        </div>
        <section class="recent">
          <div class="activity-card">
            <div class="add-room-button-container">
              <div>
                <h3>Current Users</h3>
              </div>
              <button class="add-room-button">Add Users</button>
            </div>
            <div class="side-menu-overlay"></div>
            <div class="table-responsive">
              <table>
                <thead>
                  <!-- Table header -->
                  <tr>
                    <th>Username</th>
                    <th>Role</th>
                    <th>E-mail</th>
                    <th>Phone Number</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody id="table-body">
                  <% users.forEach(user => { %>
                  <tr>
                    <td><%= user.username %></td>
                    <td><%= user.role_id %></td>
                    <td><%= user.email %></td>
                    <td><%= user.phone_number %></td>
                    <td>
                      <button class="view-details-button" data-user-id="<%= user.user_id %>">View Details</button>
                    </td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>
        </section>
    </main>

    <div class="popup-overlay">
      <div class="popup">
        <h3 class="borrower-details">User Details:</h3>
        <hr class="hr-margin">
        <table id="details-table">
          <tbody>
            <!-- Table rows with borrower details -->
            <tr>
              <td>
                <h4 class="left-align">Name:</h4>
              </td>
              <td class="right-align" id="name"></td>
            </tr>
            <tr>
              <td>
                <h4 class="left-align">Username</h4>
              </td>
              <td class="right-align" id="username"></td>
            </tr>
            <tr>
            <tr>
              <td>
                <h4 class="left-align">Password</h4>
              </td>
              <td class="right-align" id="password"></td>
            </tr>
            <tr>
              <td>
                <h4 class="left-align">Role:</h4>
              </td>
              <td class="right-align" id="role"></td>
            </tr>
            <tr>
              <td>
                <h4 class="left-align">E-mail:</h4>
              </td>
              <td class="right-align" id="email"></td>
            </tr>
            <tr>
              <td>
                <h4 class="left-align">Phone Number</h4>
              </td>
              <td class="right-align" id="phone_number"></td>
            </tr>
        </table>
        <div class="button-contained">
          <div class="button-wrapper">
            <!-- Save and cancel buttons -->
            <button class="cancel-button" type="button" id="delete-button">DELETE</button>
            <button class="save-button" type="submit" id="update-button">UPDATE</button>
          </div>
        </div>
      </div>
    </div>

    <div class="custom-side-menu">
      <h4>Update Users</h4>
      <hr>
      <form id="user-details-form" method="POST">
        <div>
          <label class="name" style="margin-top: 15px;">Username</label>
          <input type="text" name="username" autofocus autocomplete="off" required>
        </div>
        <div>
          <label>Password</label>
          <input type="text" name="password" placeholder="Password" required autocomplete="off">
        </div>
        <div>
          <label class="name">Role</label>
          <select name="category" class="category-select" required>
            <option value="" selected disabled>Select Category</option>
            <option value="Admin">Admin</option>
            <option value="Lab Manager">Lab Manager</option>
            <option value="Lab Assistant">Lab Assistant</option>
          </select>
        </div>
        <div>
          <label class="name">E-mail</label>
          <input type="text" name="email" autofocus autocomplete="off" required>
        </div>
        <div>
          <label>Phone Number</label>
          <input type="number" name="phone_number" min="0" autofocus autocomplete="off" required>
        </div>
        <div class="button-container">
          <div>
            <div>
              <!-- Save and cancel buttons -->
              <button class="cancel-button" type="button">CANCEL</button>
              <button class="save-button" type="submit">UPDATE</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="side-menu">
      <h4>Add Users</h4>
      <hr>
      <form id="" action="/add-user" method="POST">

        <div>
          <div>
            <label class="name" style="margin-top: 15px;">Name</label>
            <input type="text" name="name" autofocus autocomplete="off" required>
          </div>
          <label class="name">Username</label>
          <input type="text" name="username" autofocus autocomplete="off" required>
        </div>
        <div>
          <label>Password</label>
          <input type="text" name="password" placeholder="Password" required autocomplete="off">
        </div>
        <div>
          <label class="name">Role</label>
          <select name="category" class="category-select" required>
            <option value="" selected disabled>Select Category</option>
            <option value="Admin">Admin</option>
            <option value="Lab Manager">Lab Manager</option>
            <option value="Lab Assistant">Lab Assistant</option>
          </select>
        </div>
        <div>
          <label class="name">E-mail</label>
          <input type="text" name="email" autofocus autocomplete="off" required>
        </div>
        <div>
          <label>Phone Number</label>
          <input type="number" name="phone_number" min="0" autofocus autocomplete="off" required>
        </div>
        <div class="button-container">
          <div>
            <div>
              <!-- Save and cancel buttons -->
              <button class="cancel-button" type="button">CANCEL</button>
              <button class="save-button" type="submit">SAVE</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/JS/UsersScript.js"></script>
  </div>
</body>

</html>